.carousel {
  @apply w-full relative overflow-hidden rounded-lg hover:opacity-90;
  height: 196px;
}

.overlay {
  @apply w-full h-full absolute top-0 right-0 flex items-center justify-center bg-primary bg-opacity-70;
}
.overlayText {
  @apply text-white text-center text-xl font-bold pl-16;
}

.image {
  @apply object-cover rounded-lg h-full w-full absolute left-0 top-0 overflow-hidden;
  border: 1px solid transparent;
  max-width: 150px;
}

.image0,
.image1 {
  @apply border-white;
}

.image0 {
  @apply z-20;
}

.image1 {
  @apply z-10;
  left: 75px;
}

.image2 {
  left: 150px;
}

/* Special styles for the carousel */
/*
* I could have a bit of JS here to make the images sizes and positions a bit more dynamic,
* but I think it's better to keep it simple.
*/

.carousel.singleChild .image {
  @apply max-w-full w-full;
}
.carousel.twoChildren .image {
  @apply w-1/2;
  max-width: 50%;
}
.carousel.twoChildren .image.image0 {
  @apply w-7/12;
  max-width: 60%;
}
.carousel.twoChildren .image.image1 {
  @apply left-1/2;
}
